.footerP {
    text-align: center;
    font-size: 0.8em;
    padding: 0;
    margin: 2px;
}

.contactInfo {
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    .footerP {
        font-size: 80%;
    }
  }